# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Operating System files
.DS_Store
Thumbs.db

# Log files
*.log

# Temporary files
*.tmp
*.temp

# Environment variables
.env

# Python packaging
build/
dist/
*.egg-info/

# Model files (Optional)
*.h5
*.joblib
